<div class="container clearfix"> 
    <h1>SI Perpustakaan</h1> 

<div class="sidebar"> 
    <ul> 
        <li><a href="{{url_for('index')}}">Dashboard</a></li>
        <li><a href="pinjam_data.html">Peminjaman</a></li> 
        <li><a href="kembail_data.html">Pengembalian</a></li>
        <li><a href="kategori_data.html">Data Kategori</a></li> 
        <li><a href="{{url_for('buku')}}">Data Buku</a></li> 
        <li><a href="anggota_data.html">Data Anggota</a></li> 
        <li><a href="#" onclick="return confirm('anda yakin akan keluar?')">Logout</a></li> 
    </ul> 
</div> 