{% extends 'main_layout.html' %}

{% block title %} Halaman Dashboard {% endblock %}

{% block content %}

<h3>Selamat Datang</h3> 
<hr>
<div class="col-md-3 col-sm-12 col-xs-12 ">
    <div class="panel ">
        <div class="main-temp-back">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-6"> <i class="fa fa-cloud fa-3x"></i> Admin </div>
                    <div class="col-xs-6">
                        <div class="text-temp"> 10 </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}